* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.calendar-container {
  width: 25%;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.header {
  display: flex;
  padding: 16px;
}

.current-date-month {
  width: 100%;
  text-align: center;
}

.days-header {
  display: flex;
}

.days-header-item {
  flex: 1;
  text-align: center;
  padding: 4px;
}

.date-container {
  display: flex;
  flex-wrap: wrap;
}

.date-container-item {
  width: calc(100%/7);
  text-align: center;
  padding: 4px;
}

.active {
  font-weight: bold;
}